body{
	margin: 0;
	padding: 0;
	color: white;
}

#middlerey {
	width: 225px;
	height: 225px;
	background: url(rey2.png);
	margin: 0 auto;
	position: relative;
}

#maincontainer {
	width: 1255px;
	height: 100px;
	margin: 0 auto;
	color: white;
}

#navigation{
	height: 150px;
	width: 1255px;
	background-color: orange;
}
#navigation a{
	padding: 25px 25px 25px 25px;
	font-family: franklin gothic, sans-serif;
	font-size: 2em;
	line-height: 4em;
	color: white;
	background-color: orange; 
	color: white;
	text-decoration: none;
}
#navigation a:hover{
	background-color: black;
	transition: all 1s ease-out;
	cursor:pointer;
}
#navigation:first-child{
	padding-left: 25px;
}


#background {
	width: 1255px;
	height: 838px;
	background: url(place2.jpg);
	margin: 0 auto;
}

.title1 {
	font-size: 55pt;
	color: white;
	font-family: franklin gothic heavy;
	text-align: center;
	margin: 0 auto;
	position: relative;
	padding-top:30px;
	padding-bottom:0px;
}

.title2 {
	font-size: 31pt;
	color: white;
	font-family: franklin gothic;
	text-align: center;
	margin: 0 auto;
	position: relative;
	padding-top:10px;
}

.title3 {
	font-size: 26pt;
	color: white;
	font-family: franklin gothic heavy;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 100px;
	padding-top:200px;
	padding-bottom:0px;
}

.title4 {
	font-size: 23pt;
	color: white;
	font-family: franklin gothic;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 10px;
	padding-top:120px;
	padding-bottom:0px;
}

.title5 {
	font-size: 15pt;
	color: white;
	font-family: franklin gothic;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 10px;
	padding-top:10px;
	padding-bottom:0px;
}

.title6 {
	font-size: 15pt;
	color: white;
	font-family: franklin gothic;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 10px;
	padding-top:10px;
	padding-bottom:0px;
}

.title7 {
	font-size: 15pt;
	color: white;
	font-family: franklin gothic;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 10px;
	padding-top:40px;
	padding-bottom:0px;
}

.title8 {
	font-size: 15pt;
	color: white;
	font-family: franklin gothic;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 10px;
	padding-top:10px;
	padding-bottom:0px;
}

.title9 {
	font-size: 15pt;
	color: white;
	font-family: franklin gothic;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 10px;
	padding-top:10px;
	padding-bottom:0px;
}

.title10 {
	font-size: 26pt;
	color: black;
	font-family: franklin gothic;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 180px;
	padding-top:10px;
	padding-bottom:0px;
}

.title11 {
	font-size: 15pt;
	color: black;
	font-family: franklin gothic;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 180px;
	padding-top:10px;
	padding-bottom:0px;
}

#pizzas {
	width: 620px;
	height: 415px;
	background: url(Pizza2.jpg);
	margin: 0 auto;
	position: relative;
	top: 200px;
	padding-top:30px;
	padding-bottom:0px;
}

#lastcontainer {
	width: 1255px;
	height: 100px;
	margin: 0 auto;
	color: white;
}

#lastnavigation{
	height: 150px;
	width: 1255px;
	background-color: orange;
	margin: 0 auto;
	position: relative;
	top: 650px;
	padding-top:30px;
	padding-bottom:0px;
}
#lastnavigation a{
	padding: 25px 25px 25px 25px;
	font-family: franklin gothic, sans-serif;
	font-size: 2em;
	line-height: 4em;
	color: white;
	background-color: orange; 
	color: white;
	text-decoration: none;
}
#lastnavigation a:hover{
	background-color: black;
	transition: all 1s ease-out;
	cursor:pointer;
}
#lastnavigation:first-child{
	padding-left: 25px;
}
